
body {
    font-family:'Times New Roman', Times, serif;
    background-image: url('../img/fondopaginas.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

.boton {
    background-color: #ffffff;
    font-size: 20px;
    padding: 10px;
    margin: 4% 
}

.boton:hover {
    
}

.sect1 {
    border: 5px groove #ffffff;
    background-image: url(../img/fondopaginas1.jpg);
    background-size: cover;
    width: 1000px;
    height: 100px;
    margin: 150px auto;
}

#div-posi {
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.posi {
    position: relative;
    top: 50%;
    transform: translatey(-50%);
}

.sect2 {
    border: 5px groove #ffffff;
    background-image: url(../img/fondopaginas2.jpg);
    background-size: cover;
    width: 900px;
    height: 400px;
    margin: auto;
}

#div-rela {
    border-radius: 5px;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
    background-color: #000000;
}

.posi-1 {
        position: relative;
        top: 50%;
        transform: translateY(-50px);
}




