body {
    font-family:'Times New Roman', Times, serif;
    background-image: url('../img/fondopaginas.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.naviga {
    background: #000000;
    padding: 5px 20px;
      
}

.Menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Menu li {
    font-size: 25px;
    padding: 15px 5px;
    white-space: nowrap;
}


section {
    border: 5px groove #ffffff;
    background-image: url(../img/fondopaginas1.jpg);
    width: 900px;
    height: 300px;
    margin: 5em auto;
}

.item:hover {
    box-shadow: inset 400px 0 0 0 #1002d8;
}

div {

    border-radius: 5px;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
    padding: .5em;
    text-align: center;
    background-color: #b90115;
}

.posi {
    position: relative;
    top: 50%;
    transform: translatey(-90%);
}


h1 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

.boton {
    color: #FFF;
    border: 2px solid rgb(34, 2, 216);
    border-radius: 0px;
    padding: 10px 36px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(34, 2, 216);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin-left: 10px;
    margin-top: 10px;
}

.boton:hover {
    box-shadow: inset 400px 0 0 0 #1002d8;
}

.sect1 {
    border: 5px groove #ffffff;
    background-image: url(../img/fondopaginas1.jpg);
    background-size: cover;
    width: 1000px;
    height: 100px;
    margin: 150px auto;
}

.sect2 {
    border: 5px groove #ffffff;
    background-image: url(../img/fondopaginas1.jpg);
    background-size: cover;
    padding: 2em;
    margin: 10px auto;
    width: 1000px;
    height: 300px;
    position: relative;
}

.sect3 {
    border: 5px groove #ffffff;
    background-image: url(../img/fondopaginas1.jpg);
    background-size: cover;
    padding: 2em;
    margin: 10px auto;
    width: 1000px;
    height: 300px;
}

.sect4 {
    border: 5px groove #ffffff;
    background-image: url(../img/fondopaginas1.jpg);
    background-size: cover;
    padding: 2em;
    margin: 10px auto;
    width: 1000px;
    height: 400px;
}

#div-posi {
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.posi {
    position: relative;
    top: 50%;
    transform: translatey(-50%);
}


#div-rela {
    border-radius: 5px;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
    background-color: #000000;
}

#div-relax {
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
    padding: .5em;
    text-align: center;
    width: 100px;
    height: 100px;
    position: relative;
}

.posi-1 {
    position: relative;
    top: 50%;
    transform: translateY(-50px);
}

.posi-2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.posi-3 {
    position: fixed;
    left: 0;
    top: 50%;
    width: 100%;
}

.posi-4 {
    background: palegreen;
    top: 75px;
    left: 350px;
}

.posi-5 {
    background: tomato;
    top: 30px;
    left: 400px;
    z-index: 2;
}

.posi-6 {
    background: rgb(4, 0, 255);
    top: -10px;
    left: 450px;
    z-index: 1;
}